[Desktop Entry]
Type=Application
Version=1.0
Name=alphabet
Comment=Music player
Exec=alphabet %U
Icon=alphabet
Terminal=false
Keywords=alphabet;media;player;audio;
MimeType=application/ogg;application/x-ogg;audio/aac;audio/x-aac;audio/wav;audio/flac;audio/aiff;audio/x-aiff;audio/m4a;audio/x-m4a;
