<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>AAC</string>
          <string>AC3</string>
          <string>AIFF</string>
          <string>M4A</string>
          <string>MKA</string>
          <string>MP3</string>
          <string>OGG</string>
          <string>PCM</string>
          <string>VAW</string>
          <string>WAV</string>
          <string>WAW</string>
          <string>WMA</string>
          <string>aac</string>
          <string>ac3</string>
          <string>aiff</string>
          <string>m4a</string>
          <string>mka</string>
          <string>mp3</string>
          <string>ogg</string>
          <string>pcm</string>
          <string>vaw</string>
          <string>wav</string>
          <string>waw</string>
          <string>wma</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>document.icns</string>
        <key>CFBundleTypeName</key>
        <string>Audio file</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSTypeIsPackage</key>
        <false/>
        <key>NSPersistentStoreTypeKey</key>
        <string>XML</string>
      </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>Alphabet</string>
    <key>CFBundleIconFile</key>
    <string>Alphabet.icns</string>

    <key>CFBundleGetInfoString</key>
    <string>0.1, Copyright 2021 Arno Lievens</string>
    <key>CFBundleSignature</key>
    <string>Alphabet</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2021 Arno Lievens</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.3</string>

    <key>CFBundleIdentifier</key>
    <string>com.arnolievens.alphabet</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>alphabet</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>0.1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>Streaming Protocol</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mms</string>
          <string>mmst</string>
          <string>http</string>
          <string>https</string>
          <string>httpproxy</string>
          <string>rtp</string>
          <string>rtsp</string>
          <string>ftp</string>
          <string>udp</string>
          <string>smb</string>
          <string>srt</string>
        </array>
      </dict>
    </array>
    <key>UTImportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>AC3 Audio</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.ac3</string>
        <key>UTTypeReferenceURL</key>
        <string>http://wiki.multimedia.cx/index.php?title=AC3</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>ac3</string>
            <string>a52</string>
            <string>eac3</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>DTS Audio</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.dts</string>
        <key>UTTypeReferenceURL</key>
        <string>http://wiki.multimedia.cx/index.php?title=DTS</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>dts</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Free Lossless Audio Codec</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.flac</string>
        <key>UTTypeReferenceURL</key>
        <string>http://flac.sourceforge.net/format.html</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>flac</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Matroska Audio</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.mka</string>
        <key>UTTypeReferenceURL</key>
        <string>http://www.matroska.org</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>mka</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Ogg Audio</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.ogg-audio</string>
        <key>UTTypeReferenceURL</key>
        <string>http://xiph.org/ogg</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>ogg</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>PCM Audio</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.pcm</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/Pulse-code_modulation</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>pcm</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.audio</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Windows Media Audio</string>
        <key>UTTypeIconFile</key>
        <string>document.icns</string>
        <key>UTTypeIdentifier</key>
        <string>io.mpv.wma</string>
        <key>UTTypeReferenceURL</key>
        <string>http://en.wikipedia.org/wiki/Windows_Media_Audio</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>wma</string>
          </array>
        </dict>
      </dict>
    </array>
  </dict>
</plist>

